
.quiz {
    width: 100vw;
    padding: 20px;
    display:flex;
}

.main-menu {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-btn,
.finish-btn {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    border-radius: 15px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    background: #4d5b9e;
    color: white;
}
.title {
    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 19px;

    color: #293264;
}
.choices {
  margin-top:10px;
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: 15px;
    text-align:left;
}

.choice  {
       gap: 20px;
     padding: 3px 10px; 
    border-radius: 8px;
    border: 0.1px solid rgba(183, 241, 193, 0.26);
    /* border:solid gray 0.5px; */
     /* box-shadow: inset 0 -1em 5em rgba(0, 0, 0, 0.048), 0 0 0 2px rgb(255, 255, 255),
    0.1em 0.1em 1em rgba(0, 0, 0, 0.3); */
    font-size: small;
    cursor: pointer;
}
.choice:focus,
.choice:hover {
    border: none;
    background-color: rgba(54, 49, 49, 0.116);
    padding: calc(0.25em + 1px) calc(0.75em + 1px);
    outline: none;
}
.question {
  width:100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    /* align-content: stretch; */
    align-items: flex-start;
}
.question p {
    margin:0;
    text-align: start;
    font-size: small;

     box-shadow: inset 0 -1em 5em rgba(241, 235, 235, 0.466), 0 0 0 2px rgb(255, 255, 255),
    0.1em 0.1em 1em rgba(0, 0, 0, 0.3); 
}

.quiz-btns{
    display:flex;
    justify-content: space-between;
    gap:10px;
}
.finish-btn {
    box-shadow: inset 0 -1em 5em rgba(160, 119, 119, 0.466), 0 0 0 2px rgb(255, 255, 255),
    0.1em 0.1em 1em rgba(0, 0, 0, 0.3); 
    top: 50%;
    left: 50%;
}
.finish-btn:focus,
.finish-btn:hover {
    border: none;
    background-color: rgba(218, 72, 72, 0.726);
    padding: calc(0.25em + 1px) calc(0.75em + 1px);
    outline: none;
}

.finish p{
font-size: small;
}
.start-over-btn{

}

.dataLoading {
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
